---
---

header
{
  height: 150px;

  h1
  {
    text-align: left;
    font-size: 3rem;
    margin: 0;
    display: table;
  }

  a
  {
    color: #ffc;
    text-decoration: none;

    display: grid;
    grid-template-columns: 150px auto;
    align-items: end;
    height: 100%;

    img
    {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
