---
---

@import "header.css";

$width: 700px;

body, html
{
  margin: 0;

  font-family: "Cantarell", "Helvetica", sans-serif;

  color: #ffffaa;
  font-size: 1.05rem;
}

html
{
  background: white;
}

a
{
  color: #aaaa88;
}

html
{
  height: 100%;
  background: #212;
}

body
{
  background: url("/imgs/bgs/bg5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  margin: 0 auto;
  min-height: 1000px;


  display: grid;
  grid-template-columns: auto 60%;
  grid-template-areas:". body";


  & > div
  {
    grid-area: body;
    background: rgba(51,34,51, 0.9);
    padding: 1rem 3rem;
  }
}

#pagetitle
{
  font-size: 4rem;
}

main
{
  h1,h2,h3
  {
    background: #212;
    padding: 0.2rem 1rem 0.5rem 1rem;
    display: table;
    box-sizing: border-box;
  }

  blockquote
  {
    display: table;
    background: #212;
    padding: 1rem;
    border-left: 3px solid;
    margin-left: 0;

    p:first-child
    {
      margin-top: 0;
    }

    p:last-child
    {
      margin-bottom: 0;
    }
  }

  figure
  {
    width: $width;
    max-width: 100%;

    img
    {
      width: 100%;
    }

    figcaption
    {
      width: calc(100% - 1.2rem);
      margin: 0;
      margin-top: -4px;

      background: #212;
      padding: 0.6rem;
    }
  }

  #image_gallery
  {
    width: $width * 1.25;
    display: grid;
    grid-template-columns: repeat(3, 33%);    
    grid-auto-rows: 1fr;
    grid-gap: 1rem;

    padding-left: 0;
    list-style: none;

    figure
    {
      margin: 0;
    }
  }

  nav
  {
    display: table;
    background: #212;

    h3
    {
      margin: 0;
      margin-bottom: 0.5rem;
      background: #101;
    }

    ul
    {
      margin: 0;
      margin-bottom: 1rem;
    }
  }
}

p
{
  width: $width;
}

h3
{
  display: table;
  text-transform: capitalize;
}

#cats
{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: 1fr;
}
